[submodule "Band-Name-Generator"]
    path = Band-Name-Generator
    url = https://github.com/sazzad4677/Band-Name-Generator.git
[submodule "Tip-Calculator"]
    path = Tip-Calculator
    url = https://github.com/sazzad4677/Tip-Calculator.git

[submodule "Treasure-Island"]
    path = Treasure-Island
    url = https://github.com/sazzad4677/Treasure-Island.git

[submodule "Hangman"]
    path = Hangman
    url = https://github.com/sazzad4677/Hangman.git

[submodule "Password-Generator"]
    path = Password-Generator
    url = https://github.com/sazzad4677/Password-Generator.git

[submodule "Caesar-Cipher"]
    path = Caesar-Cipher
    url = https://github.com/sazzad4677/Caesar-Cipher.git
[submodule "Blind-Auction"]
	path = Blind-Auction
	url = https://github.com/sazzad4677/Blind-Auction.git
[submodule "Calculator"]
	path = Calculator
	url = https://github.com/sazzad4677/Calculator.git
[submodule "Black-Jack"]
	path = Black-Jack
	url = https://github.com/sazzad4677/Black-Jack.git
